.widget-about {
	background: $primary;
	position: relative;

	&:before {
		content: '';
		background: $secondary;
		z-index: 1;
		width: 200%;
		height: 100%;
		display: block;
		top: 0;
		right: 50%;
		position: absolute;
		transform: skewX(-15deg);
	}
	
	.container {
		position: relative;
		z-index: 2;
	}

	.widget-about__header {
		text-align: center;

		* {
			color: $white;
		}
	}

	.box {
		position: relative;
		text-align: center;
		overflow: hidden;

		.image {
			position: absolute;
			left: -20px;
			top: -20px;
			opacity: .1;
			transition: transform .3s;
		}

		.content {
			position: relative;
			z-index: 2;
			
			> p {
				font-size: 1.2rem;
				line-height: 2.5rem;
			}
		}

		&:hover .image {
			transform: scale(1.3);
		}
	}
}