@charset "utf-8";

// If need, change your variables before importing Bulma

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: #2ebcbc;
$link: #454545;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$control-border-width: 1px;
$input-shadow: none;

$radius: 0;

@import "~bulma/bulma.sass";